.group-child {
  	position: absolute;
  	top: 913.84px;
  	left: 445.25px;
  	filter: blur(368px);
  	border-radius: 50%;
  	background: linear-gradient(180deg, #e253a4 36.06%, #f4cb00);
  	width: 815.5px;
  	height: 944.9px;
  	transform:  rotate(-67deg);
  	transform-origin: 0 0;
}
.chatgpt-image-8-may-2025-06-4 {
  	position: absolute;
  	top: 0px;
  	left: 640px;
  	width: 1514.6px;
  	height: 1514.6px;
  	object-fit: contain;
  	opacity: 0.75;
}
.group-item {
  	position: absolute;
  	top: 891px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 37.5%, rgba(7, 7, 7, 0.96) 91.83%);
  	width: 1760px;
  	height: 212px;
  	opacity: 0.4;
}
.audifono-astro-a50-x-blanco-2-icon {
  	position: absolute;
  	top: 191px;
  	left: 771px;
  	width: 831.9px;
  	height: 831.9px;
  	object-fit: contain;
}
.span {
  	font-size: 96px;
}
.a {
  	font-size: 100px;
}
.astro-a501 {
  	font-weight: 800;
}
.wireless {
  	margin: 0;
  	font-size: 90px;
  	font-weight: 200;
}
.astro-a50-wireless-container {
  	position: absolute;
  	top: 319px;
  	left: 186px;
  	line-height: 90px;
}
.con-un-diseo {
  	position: absolute;
  	top: 661px;
  	left: 186px;
  	font-size: 18px;
  	line-height: 28px;
  	font-weight: 300;
  	display: inline-block;
  	width: 584.3px;
  	height: 168.7px;
}
.a50-for-xbox {
  	position: absolute;
  	top: 759.75px;
  	left: 186px;
  	font-size: 12px;
  	line-height: 19px;
  	font-weight: 300;
  	display: inline-block;
  	width: 276.7px;
  	height: 92.6px;
}
.capa-1-icon {
  	position: absolute;
  	top: 747px;
  	left: 514px;
  	width: 37px;
  	height: 28.8px;
  	overflow: hidden;
}
.group-inner {
  	position: absolute;
  	top: 745px;
  	left: 575px;
  	width: 26.7px;
  	height: 27.8px;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 37.66666793823242px -37.66666793823242px 37.67px rgba(165, 165, 165, 0.14) inset, -37.66666793823242px 37.66666793823242px 37.67px rgba(255, 255, 255, 0.14) inset;
  	backdrop-filter: blur(16px);
  	border-radius: 16px;
  	background-color: rgba(217, 217, 217, 0.14);
  	width: 1337.9px;
  	height: 80.2px;
}
.group-child1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 16px;
  	background-color: #e7e7e7;
  	width: 169.3px;
  	height: 49.4px;
}
.iniciar-sesin {
  	position: absolute;
  	top: 11.31px;
  	left: 17.77px;
}
.rectangle-group {
  	position: absolute;
  	top: 15px;
  	left: 1069px;
  	width: 169.3px;
  	height: 49.4px;
  	cursor: pointer;
  	font-size: 18px;
  	color: #000;
}
.nosotros {
  	position: absolute;
  	top: 26.74px;
  	left: 197.56px;
  	font-weight: 500;
  	cursor: pointer;
}
.proyectos {
  	position: absolute;
  	top: 24.69px;
  	left: 394.07px;
  	font-weight: 500;
  	cursor: pointer;
}
.productos {
  	position: absolute;
  	top: 24.69px;
  	left: 606.25px;
  	font-weight: 500;
  	cursor: pointer;
}
.contactanos {
  	position: absolute;
  	top: 24.69px;
  	left: 797.54px;
  	font-weight: 500;
  	cursor: pointer;
}
.rectangle-parent {
  	position: absolute;
  	top: 123px;
  	left: 265px;
  	width: 1337.9px;
  	height: 80.2px;
  	font-size: 20px;
}
.vector-icon {
  	position: absolute;
  	top: 138px;
  	left: 331px;
  	width: 62.7px;
  	height: 53.5px;
}
.comprar-ahora {
  	position: absolute;
  	top: 16px;
  	left: 25px;
  	text-decoration: underline;
  	font-weight: 700;
  	color: inherit;
  	cursor: pointer;
}
.comprar-ahora-wrapper {
  	position: absolute;
  	top: 891px;
  	left: 478px;
  	border-radius: 40px;
  	background: linear-gradient(90deg, #f4cb00 7.69%, #e253a4 82.21%);
  	width: 270.5px;
  	height: 69.9px;
  	overflow: hidden;
  	font-size: 26px;
}
.ellipse-parent {
  	position: absolute;
  	top: -42px;
  	left: -89.34px;
  	width: 2154.6px;
  	height: 1514.6px;
}
.group-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 38.34px;
  	width: 1387.9px;
  	height: 1498.7px;
}
.img-2-icon {
  	position: absolute;
  	top: 166px;
  	left: 424px;
  	border-radius: 0px 100px 0px 0px;
  	width: 283.5px;
  	height: 353px;
  	object-fit: cover;
}
.img-1-icon {
  	position: absolute;
  	top: 381px;
  	left: 185px;
  	border-radius: 0px 95px 0px 0px;
  	width: 296px;
  	height: 335px;
  	object-fit: cover;
}
.frame-child {
  	position: absolute;
  	top: 899px;
  	left: 291px;
  	border-top: 2px solid #eb45a3;
  	box-sizing: border-box;
  	width: 902px;
  	height: 2px;
}
.concenos {
  	position: absolute;
  	top: -45px;
  	left: 292px;
  	line-height: 90px;
  	font-weight: 800;
  	background: linear-gradient(90deg, #a400d5, #eb45a3 60.58%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.concenos-wrapper {
  	position: absolute;
  	top: 276px;
  	left: 586px;
  	width: 661px;
  	height: 545px;
}
.somos-una-pgina {
  	margin: 0;
}
.bienvenido-a-tu {
  	margin: 0;
  	font-weight: 600;
}
.somos-una-pgina-container {
  	position: absolute;
  	top: 408px;
  	left: 883px;
  	font-size: 16px;
  	line-height: 30px;
  	text-align: left;
  	display: inline-block;
  	width: 661px;
}
.img-2-parent {
  	position: absolute;
  	top: 0.34px;
  	left: -78.21px;
  	background-color: #fff;
  	width: 1708px;
  	height: 900px;
  	overflow: hidden;
}
.frame-container {
  	position: absolute;
  	top: 10px;
  	left: 10px;
  	width: 1283.5px;
  	height: 900px;
}
.frame-wrapper {
  	position: absolute;
  	top: 1043.66px;
  	left: 69.21px;
  	width: 1216.7px;
  	height: 910.1px;
  	text-align: right;
  	font-size: 64px;
  	color: #000;
}
.frame-item {
  	position: absolute;
  	top: 0px;
  	left: -14px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1), rgba(7, 7, 7, 0.96));
  	width: 1713px;
  	height: 900px;
  	opacity: 0.8;
}
.frame-inner {
  	position: absolute;
  	top: 886px;
  	left: 0px;
  	width: 1440px;
  	height: 1236px;
  	overflow: hidden;
}
.frame-div {
  	position: absolute;
  	top: 613px;
  	left: 139px;
  	border-radius: 40px;
  	background-color: #000;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 214px;
  	height: 71px;
  	overflow: hidden;
}
.ver-ms {
  	position: absolute;
  	top: 629px;
  	left: 197px;
  	text-decoration: underline;
  	font-weight: 700;
  	color: inherit;
  	cursor: pointer;
}
.rectangle-container {
  	position: absolute;
  	top: 16px;
  	left: 0px;
  	background-color: #fff;
  	width: 1699px;
  	height: 900px;
  	overflow: hidden;
}
.madkat {
  	margin: 0;
  	font-weight: 800;
}
.black-katboard {
  	margin: 0;
  	font-size: 64px;
  	font-weight: 300;
}
.madkat-black-katboard-container {
  	position: absolute;
  	top: 220px;
  	left: 141px;
  	line-height: 64px;
  	color: #030004;
  	font-size: 96px;
}
.edicin-limitada-diseada-por {
  	position: absolute;
  	top: 434px;
  	left: 141px;
  	font-size: 16px;
  	line-height: 30px;
  	color: #000;
  	display: inline-block;
  	width: 575px;
  	height: 164px;
}
.katklawkeyboard-black-04-1-p-icon {
  	position: absolute;
  	top: 0px;
  	left: 720px;
  	width: 902px;
  	height: 902px;
  	object-fit: cover;
}
.frame-group {
  	position: absolute;
  	top: 7px;
  	left: -69px;
  	width: 1699px;
  	height: 916px;
}
.group-container {
  	position: absolute;
  	top: 1920px;
  	left: 79px;
  	width: 1262px;
  	height: 923px;
  	font-size: 26px;
}
.vector-icon1 {
  	position: absolute;
  	top: 1061px;
  	left: 121px;
  	width: 106px;
  	height: 88px;
}
.h510rgb-wp-hq-3-900x900-2 {
  	position: absolute;
  	top: 25px;
  	left: 18px;
  	width: 171px;
  	height: 171px;
  	object-fit: cover;
}
.h510rgb-wp-hq-3-900x900-2-wrapper {
  	position: absolute;
  	top: 195px;
  	left: 1237px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.g-7nx7cjl-ac-2-icon {
  	position: absolute;
  	top: 19px;
  	left: 29px;
  	width: 169.1px;
  	height: 184px;
  	object-fit: cover;
}
.g-7nx7cjl-ac-2-wrapper {
  	position: absolute;
  	top: 195px;
  	left: 912px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.frame-child1 {
  	position: absolute;
  	top: 195px;
  	left: 587px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.image-2-icon {
  	position: absolute;
  	top: 20px;
  	left: 33px;
  	width: 140.8px;
  	height: 182px;
  	object-fit: cover;
}
.image-2-wrapper {
  	position: absolute;
  	top: 195px;
  	left: 263px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
}
.frame-child2 {
  	position: absolute;
  	top: 519px;
  	left: 1237px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.frame-child3 {
  	position: absolute;
  	top: 519px;
  	left: 912px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.ppsnuvwfl-ac-sx300-sy300-ql7-icon {
  	position: absolute;
  	top: 74px;
  	left: 6px;
  	width: 194.4px;
  	height: 105px;
  	object-fit: cover;
}
.ppsnuvwfl-ac-sx300-sy300-ql7-wrapper {
  	position: absolute;
  	top: 519px;
  	left: 587px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.sw-00-1930-2-2 {
  	position: absolute;
  	top: 59px;
  	left: 5px;
  	width: 196px;
  	height: 104px;
  	object-fit: cover;
}
.sw-00-1930-2-2-wrapper {
  	position: absolute;
  	top: 519px;
  	left: 263px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.frame-child4 {
  	position: absolute;
  	top: 840px;
  	left: 1237px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.frame-child5 {
  	position: absolute;
  	top: 840px;
  	left: 915px;
  	background-color: #fff;
  	width: 246px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.tnyhefal-ac-sx679-2-icon {
  	position: absolute;
  	top: 31px;
  	left: 38px;
  	width: 129.6px;
  	height: 160px;
  	object-fit: cover;
}
.tnyhefal-ac-sx679-2-wrapper {
  	position: absolute;
  	top: 840px;
  	left: 587px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.frame-child6 {
  	position: absolute;
  	top: 840px;
  	left: 263px;
  	background-color: #fff;
  	width: 247px;
  	height: 221px;
  	overflow: hidden;
  	cursor: pointer;
}
.productos1 {
  	position: absolute;
  	top: 57px;
  	left: 630px;
  	font-size: 64px;
  	line-height: 90px;
  	font-weight: 800;
  	background: linear-gradient(90deg, #000, #eb45a3 60.58%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 481px;
}
.audifonos {
  	position: absolute;
  	top: 194.69px;
  	left: 1574.62px;
  	line-height: 64px;
  	font-weight: 800;
  	display: inline-block;
  	width: 218px;
  	height: 76.1px;
  	transform:  rotate(90.2deg);
  	transform-origin: 0 0;
}
.pc {
  	position: absolute;
  	top: 880.69px;
  	left: 1577px;
  	line-height: 64px;
  	font-weight: 800;
  	display: inline-block;
  	width: 51px;
  	height: 76.1px;
  	transform:  rotate(90.2deg);
  	transform-origin: 0 0;
}
.teclados {
  	position: absolute;
  	top: 737.98px;
  	left: 149px;
  	line-height: 64px;
  	font-weight: 800;
  	display: inline-block;
  	width: 191px;
  	height: 76.1px;
  	transform:  rotate(-89.5deg);
  	transform-origin: 0 0;
}
.audifono-astro-a50-x-blanco-2-icon1 {
  	position: absolute;
  	top: 203.88px;
  	left: 624.06px;
  	width: 171.8px;
  	height: 171.8px;
  	object-fit: contain;
}
.cwc9kc9xl-ac-sl1500-2-icon {
  	position: absolute;
  	top: 580px;
  	left: 934px;
  	width: 205px;
  	height: 102px;
  	object-fit: cover;
}
.iuun3rszl-ac-sx679-2-icon {
  	position: absolute;
  	top: 547px;
  	left: 1253px;
  	width: 213px;
  	height: 142px;
  	object-fit: cover;
}
.wzcd8veyl-ac-sx679-2-icon {
  	position: absolute;
  	top: 848px;
  	left: 304px;
  	width: 174px;
  	height: 204px;
  	object-fit: cover;
}
.bv1ms24082203epou5d-1-icon {
  	position: absolute;
  	top: 873px;
  	left: 959px;
  	width: 159px;
  	height: 157px;
  	object-fit: cover;
}
.icon {
  	position: absolute;
  	top: 873px;
  	left: 1263px;
  	width: 193px;
  	height: 182px;
  	object-fit: cover;
}
.vector-parent {
  	position: absolute;
  	top: -39.29px;
  	left: 0px;
  	background-color: #dfdfdf;
  	width: 1709px;
  	height: 1205px;
  	overflow: hidden;
}
.frame-wrapper1 {
  	position: absolute;
  	top: 2825.29px;
  	left: 0px;
  	width: 1287.8px;
  	height: 1265.2px;
  	font-size: 36px;
  	color: #030004;
}
.nos-interesamos-en {
  	position: absolute;
  	top: 82px;
  	left: 94px;
  	font-size: 24px;
  	line-height: 90px;
  	text-transform: uppercase;
  	font-weight: 800;
  	z-index: 0;
}
.cuales-son-tus-container {
  	position: absolute;
  	top: 179.5px;
  	left: 94px;
  	line-height: 30px;
  	font-weight: 600;
  	z-index: 1;
}
.component-1-child {
  	position: absolute;
  	height: 87.57%;
  	width: 100%;
  	top: 12.5%;
  	right: 0%;
  	bottom: -0.07%;
  	left: 0%;
  	background-color: rgba(217, 217, 217, 0);
}
.correo-electrnico {
  	position: absolute;
  	height: 72.57%;
  	width: 70.78%;
  	top: 0%;
  	left: 2.12%;
  	line-height: 90px;
  	display: inline-block;
}
.component-1 {
  	position: absolute;
  	top: 277px;
  	left: 94px;
  	border-radius: 16px;
  	border: 3px solid #a300d5;
  	box-sizing: border-box;
  	width: 295px;
  	height: 70px;
  	z-index: 2;
}
.enviar {
  	position: absolute;
  	top: 14px;
  	left: 51px;
  	line-height: 30px;
  	font-weight: 600;
}
.enviar-wrapper {
  	position: absolute;
  	top: 374.5px;
  	left: 94px;
  	border-radius: 20px;
  	background-color: #a300d5;
  	width: 152px;
  	height: 55px;
  	overflow: hidden;
  	z-index: 3;
}
.xidax-systems-container {
  	position: absolute;
  	top: 10px;
  	left: 10px;
  	line-height: 20px;
  	font-weight: 800;
  	display: inline-block;
  	width: 303px;
}
.xidax-systems-2025-xidax-sys-wrapper {
  	position: absolute;
  	top: 82px;
  	left: 748.98px;
  	width: 323px;
  	height: 240px;
  	z-index: 4;
  	font-size: 13px;
}
.sobre-nosotros {
  	margin-bottom: 0px;
}
.sobre-nosotros-preguntas-frecu {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 17px;
}
.httpsfacebookcomxidaxsyst1 {
  	text-decoration: underline;
}
.httpsfacebookcomxidaxsyst {
  	color: inherit;
}
.enlaces-tiles-sobre-container {
  	width: 100%;
  	position: absolute;
  	top: 179.5px;
  	left: 1173.98px;
  	font-size: 13px;
  	line-height: 20px;
  	font-weight: 800;
  	display: inline-block;
  	z-index: 5;
}
.nos-interesamos-en-ti-parent {
  	position: absolute;
  	top: 15900px;
  	left: 3.05px;
  	background-color: #000;
  	width: 1801px;
  	height: 472px;
  	display: flex;
  	flex-direction: column;
  	padding: 82px 94px 0px;
  	box-sizing: border-box;
  	gap: 10px;
  	font-size: 20px;
}
.frame-parent {
  	position: absolute;
  	top: 0px;
  	left: 49px;
  	width: 1804px;
  	height: 16372px;
  	font-size: 100px;
  	color: #fff;
}
.blank-line3 {
  	line-height: 90px;
}
.audfonos-gamer-hyperx {
  	line-height: 40px;
}
.audfonos-gamer-hyperx-almbri {
  	margin: 0;
  	font-size: 36px;
}
.hyperx-cloud-blue {
  	margin: 0;
  	font-size: 13px;
  	line-height: 20px;
  	font-weight: 300;
}
.audfonos-gamer-hyperx-container {
  	position: absolute;
  	top: 164px;
  	left: 284px;
  	display: inline-block;
  	width: 459px;
  	height: 284px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon2 {
  	position: absolute;
  	top: 120px;
  	left: 122px;
  	width: 90px;
  	height: 88px;
}
.image-1-icon {
  	position: absolute;
  	top: 98px;
  	left: 940px;
  	width: 541.6px;
  	height: 700px;
  	object-fit: cover;
}
.frame-child7 {
  	position: absolute;
  	top: 5px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(217, 217, 217, 0) 53.37%, #000);
  	width: 1700px;
  	height: 867px;
}
.sitio-de-compra {
  	position: absolute;
  	top: 19px;
  	left: 25px;
  	text-decoration: underline;
  	line-height: 50px;
  	font-weight: 800;
  	color: inherit;
}
.sitio-de-compra-wrapper {
  	position: absolute;
  	top: 692px;
  	left: 290px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.audfonos-gamer-hyperx-almbri-parent {
  	width: 1700px;
  	position: relative;
  	background-color: #fff;
  	height: 872px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.frame-wrapper2 {
  	position: absolute;
  	top: 3979px;
  	left: 52px;
  	width: 1460.8px;
  	height: 912px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
}
.ellipse-div {
  	position: absolute;
  	top: 760.58px;
  	left: 411px;
  	filter: blur(368px);
  	border-radius: 50%;
  	background: linear-gradient(180deg, #e253a4 36.06%, #f4cb00);
  	width: 792.8px;
  	height: 918.6px;
  	transform:  rotate(-67deg);
  	transform-origin: 0 0;
}
.chatgpt-image-8-may-2025-06-41 {
  	position: absolute;
  	top: -461px;
  	left: -318px;
  	width: 2223.9px;
  	height: 2223.9px;
  	object-fit: contain;
  	opacity: 0.75;
}
.frame-child8 {
  	position: absolute;
  	top: 342px;
  	left: 0px;
  	background: linear-gradient(179.22deg, rgba(0, 0, 0, 0) 27.88%, rgba(0, 0, 0, 0.7));
  	width: 1926px;
  	height: 656px;
}
.component-1-item {
  	position: absolute;
  	height: 87.5%;
  	width: 100%;
  	top: 12.5%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: rgba(217, 217, 217, 0);
}
.correo-electrnico1 {
  	position: absolute;
  	height: 72.5%;
  	width: 70.76%;
  	top: 0%;
  	left: 2.12%;
  	line-height: 90px;
  	font-weight: 300;
  	display: inline-block;
}
.component-11 {
  	position: absolute;
  	top: 109px;
  	left: 815px;
  	border-radius: 20px;
  	border: 2px solid #a300d5;
  	box-sizing: border-box;
  	width: 500px;
  	height: 80px;
}
.component-2 {
  	position: absolute;
  	top: 247px;
  	left: 815px;
  	border-radius: 20px;
  	border: 2px solid #a300d5;
  	box-sizing: border-box;
  	width: 500px;
  	height: 80px;
}
.component-3-child {
  	position: absolute;
  	height: 87.52%;
  	width: 100%;
  	top: 12.5%;
  	right: 0%;
  	bottom: -0.02%;
  	left: 0%;
  	background-color: rgba(217, 217, 217, 0);
}
.correo-electrnico3 {
  	position: absolute;
  	height: 72.48%;
  	width: 70.76%;
  	top: 0%;
  	left: 2.12%;
  	line-height: 90px;
  	font-weight: 300;
  	display: inline-block;
}
.component-3 {
  	position: absolute;
  	top: 384px;
  	left: 815px;
  	border-radius: 20px;
  	border: 2px solid #a300d5;
  	box-sizing: border-box;
  	width: 500px;
  	height: 153px;
}
.group-child2 {
  	position: absolute;
  	top: 10.39px;
  	left: 0px;
  	border-radius: 50px;
  	background: linear-gradient(90deg, #f4cb00 20.67%, #eb45a3 88.94%);
  	width: 500px;
  	height: 70.6px;
  	overflow: hidden;
}
.enviar1 {
  	position: absolute;
  	top: 0px;
  	left: 188px;
  	letter-spacing: 0.05em;
  	line-height: 90px;
}
.group-div {
  	position: absolute;
  	top: 580px;
  	left: 815px;
  	width: 500px;
  	height: 90px;
  	font-size: 36px;
  	color: #fff;
}
.djanos-saber-tus {
  	position: absolute;
  	top: 364px;
  	left: 150px;
  	line-height: 35px;
  	font-weight: 500;
  	display: inline-block;
  	width: 503px;
  	height: 142px;
}
.contactanos1 {
  	position: absolute;
  	top: 211px;
  	left: 150px;
  	font-size: 64px;
  	line-height: 90px;
  	font-weight: 800;
  	background: linear-gradient(90deg, #f4cb00 13.46%, #eb45a3 75.48%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.component-1-parent {
  	position: absolute;
  	top: 129px;
  	left: 181px;
  	border-radius: 40px;
  	background-color: #fff;
  	width: 1440px;
  	height: 739px;
  	overflow: hidden;
}
.ellipse-group {
  	align-self: stretch;
  	position: relative;
  	background-color: #eb45a3;
  	height: 998px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.frame-wrapper3 {
  	position: absolute;
  	top: 14907px;
  	left: 0px;
  	width: 1926px;
  	height: 902px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 24px;
}
.auriculares-zeus-x {
  	width: 640px;
  	position: absolute;
  	margin: 0 !important;
  	top: 371.61px;
  	left: 261px;
  	font-size: 18px;
  	line-height: 20px;
  	font-weight: 300;
  	display: inline-block;
  	height: 376.7px;
  	flex-shrink: 0;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
  	z-index: 0;
}
.vector-icon3 {
  	width: 94.3px;
  	position: absolute;
  	margin: 0 !important;
  	top: 87.26px;
  	left: 131px;
  	height: 90.3px;
  	z-index: 1;
}
.redragon-zeus-x-container {
  	width: 572.2px;
  	position: absolute;
  	margin: 0 !important;
  	top: 201.2px;
  	left: 267px;
  	line-height: 50px;
  	font-weight: 800;
  	display: inline-block;
  	height: 102.7px;
  	flex-shrink: 0;
  	z-index: 2;
}
.g-7nx7cjl-ac-1-icon {
  	width: 574.6px;
  	position: absolute;
  	margin: 0 !important;
  	top: 136.55px;
  	left: 1018.52px;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 3;
}
.frame-child9 {
  	width: 1710px;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	height: 884px;
  	opacity: 0.8;
  	z-index: 4;
}
.sitio-de-compra1 {
  	position: absolute;
  	top: 19px;
  	left: 31px;
  	text-decoration: underline;
  	line-height: 50px;
  	font-weight: 800;
  	color: inherit;
}
.sitio-de-compra-container {
  	width: 322.8px;
  	position: absolute;
  	margin: 0 !important;
  	top: 676.5px;
  	left: 267px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	height: 89.3px;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 5;
}
.auriculares-zeus-x-inmersin-parent {
  	position: absolute;
  	top: 4854px;
  	left: 50px;
  	background-color: #fff;
  	width: 1710px;
  	height: 830px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
  	font-size: 32px;
}
.group-child3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1737px;
  	height: 904px;
  	opacity: 0.8;
}
.vector-icon4 {
  	position: absolute;
  	top: 119px;
  	left: 172px;
  	width: 90px;
  	height: 88px;
}
.audifono-astro-a50-x-blanco-2-icon2 {
  	position: absolute;
  	top: 119px;
  	left: 890px;
  	width: 672.2px;
  	height: 672.2px;
  	object-fit: contain;
}
.wireless1 {
  	margin: 0;
  	font-weight: 200;
}
.astro-a50-wireless-container1 {
  	position: absolute;
  	top: 237px;
  	left: 294px;
  	line-height: 90px;
}
.con-un-diseo1 {
  	position: absolute;
  	top: 483px;
  	left: 294px;
  	font-size: 18px;
  	line-height: 28px;
  	font-weight: 300;
  	display: inline-block;
  	width: 498px;
  	height: 164px;
}
.sitio-de-compra-frame {
  	position: absolute;
  	top: 679px;
  	left: 294px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.rectangle-parent1 {
  	width: 1737px;
  	position: relative;
  	height: 904px;
}
.group-frame {
  	width: 1737px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper4 {
  	position: absolute;
  	top: 5674px;
  	left: 15px;
  	width: 1460px;
  	height: 976px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
  	font-size: 64px;
}
.teclado-gamer-mecanico-container {
  	position: absolute;
  	top: 142.34px;
  	left: 233px;
  	display: inline-block;
  	width: 459px;
  	height: 392.3px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon5 {
  	position: absolute;
  	top: 90px;
  	left: 113px;
  	width: 90px;
  	height: 88px;
}
.sw-00-1930-2-1 {
  	position: absolute;
  	top: 64.55px;
  	left: 873.34px;
  	width: 757.3px;
  	height: 757.3px;
  	object-fit: cover;
}
.group-child4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1707px;
  	height: 898px;
  	opacity: 0.8;
}
.sitio-de-compra-wrapper1 {
  	position: absolute;
  	top: 704px;
  	left: 233px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 88px;
  	overflow: hidden;
  	font-size: 32px;
}
.teclado-gamer-mecanico-el-k616-parent {
  	position: absolute;
  	top: 0px;
  	left: 4px;
  	width: 1707px;
  	height: 898px;
}
.group-wrapper1 {
  	position: absolute;
  	top: 6564px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 926px;
  	overflow: hidden;
}
.vector-icon6 {
  	position: absolute;
  	top: 73px;
  	left: 126px;
  	width: 90px;
  	height: 88px;
}
.audio-ntido-con {
  	position: absolute;
  	top: 349px;
  	left: 247px;
  	font-size: 16px;
  	line-height: 20px;
  	font-weight: 300;
  	display: inline-block;
  	width: 643px;
  	height: 588px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.redragon-h510-zeus-x {
  	position: absolute;
  	top: 183px;
  	left: 247px;
  	line-height: 50px;
  	font-weight: 800;
  	display: inline-block;
  	width: 704px;
  	height: 182px;
}
.h510rgb-wp-hq-3-900x900-1 {
  	position: absolute;
  	top: 192px;
  	left: 951px;
  	width: 626px;
  	height: 626px;
  	object-fit: cover;
}
.rectangle-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1711px;
  	height: 937px;
  	opacity: 0.8;
}
.sitio-de-compra4 {
  	position: relative;
  	text-decoration: underline;
  	line-height: 50px;
  	font-weight: 800;
  	color: inherit;
}
.sitio-de-compra-wrapper2 {
  	position: absolute;
  	top: 9px;
  	left: 21px;
  	width: 270px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.frame-wrapper5 {
  	position: absolute;
  	top: 700px;
  	left: 247px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 87px;
  	overflow: hidden;
}
.vector-group {
  	position: absolute;
  	top: 7461px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 890px;
  	overflow: hidden;
  	font-size: 32px;
}
.iuun3rszl-ac-sx679-1-icon {
  	position: absolute;
  	top: 181px;
  	left: 888px;
  	width: 710.7px;
  	height: 471px;
  	object-fit: cover;
}
.group-child5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1711px;
  	height: 904px;
  	opacity: 0.8;
}
.blank-line13 {
  	margin: 0;
  	font-size: 48px;
}
.el-apex-pro {
  	margin: 0;
  	line-height: 20px;
  	font-weight: 300;
}
.steelseries-apex-pro-container {
  	position: absolute;
  	top: 195px;
  	left: 237px;
  	display: inline-block;
  	width: 459px;
  	height: 284px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon7 {
  	position: absolute;
  	top: 93px;
  	left: 147px;
  	width: 90px;
  	height: 88px;
}
.sitio-de-compra-wrapper3 {
  	position: absolute;
  	top: 652px;
  	left: 237px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.iuun3rszl-ac-sx679-1-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1711px;
  	height: 904px;
}
.group-wrapper2 {
  	position: absolute;
  	top: 8351px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 890px;
  	overflow: hidden;
  	font-size: 13px;
}
.group-child6 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1739px;
  	height: 904px;
  	opacity: 0.8;
}
.terport-z11-teclado-container {
  	position: absolute;
  	top: 225px;
  	left: 204px;
  	display: inline-block;
  	width: 543.7px;
  	height: 284px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon8 {
  	position: absolute;
  	top: 105px;
  	left: 151px;
  	width: 106.6px;
  	height: 88px;
}
.cwc9kc9xl-ac-sl1500-1-icon {
  	position: absolute;
  	top: 225px;
  	left: 869px;
  	width: 782px;
  	height: 391px;
  	object-fit: cover;
}
.sitio-de-compra-wrapper4 {
  	position: absolute;
  	top: 648px;
  	left: 204px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 321px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.group-wrapper3 {
  	position: absolute;
  	top: 9241px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 890px;
  	overflow: hidden;
}
.wzcd8veyl-ac-sx679-1-icon {
  	position: absolute;
  	top: 94.82px;
  	left: 1015.6px;
  	width: 571.7px;
  	height: 669.4px;
  	object-fit: cover;
}
.nzxt-gab-h7-container {
  	position: absolute;
  	top: 193px;
  	left: 272px;
  	display: inline-block;
  	width: 543.7px;
  	height: 287px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon9 {
  	position: absolute;
  	top: 125px;
  	left: 173px;
  	width: 99px;
  	height: 88px;
}
.sitio-de-compra-wrapper5 {
  	position: absolute;
  	top: 677px;
  	left: 272px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 321px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.wzcd8veyl-ac-sx679-1-parent {
  	position: absolute;
  	top: 0px;
  	left: -28px;
  	width: 1739px;
  	height: 904px;
}
.group-wrapper4 {
  	position: absolute;
  	top: 10131px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 890px;
  	overflow: hidden;
}
.terport-z11-teclado-container1 {
  	position: absolute;
  	top: 140px;
  	left: 300px;
  	display: inline-block;
  	width: 459px;
  	height: 284px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon10 {
  	position: absolute;
  	top: 96px;
  	left: 148px;
  	width: 90px;
  	height: 88px;
}
.ppsnuvwfl-ac-sx300-sy300-ql7-icon1 {
  	position: absolute;
  	top: 334px;
  	left: 883px;
  	width: 711.1px;
  	height: 384px;
  	object-fit: cover;
}
.sitio-de-compra-wrapper6 {
  	position: absolute;
  	top: 674px;
  	left: 300px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 87px;
  	overflow: hidden;
  	font-size: 32px;
}
.group-wrapper5 {
  	position: absolute;
  	top: 11021px;
  	left: 49px;
  	background-color: #fff;
  	width: 1711px;
  	height: 890px;
  	overflow: hidden;
}
.tnyhefal-ac-sx679-1-icon {
  	position: absolute;
  	top: 178px;
  	left: 1056px;
  	width: 472.4px;
  	height: 583px;
  	object-fit: cover;
}
.group-child9 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1729px;
  	height: 904px;
  	opacity: 0.8;
}
.ocelot-gaming-pc-container {
  	position: absolute;
  	top: 178px;
  	left: 278px;
  	display: inline-block;
  	width: 459px;
  	height: 284px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon11 {
  	position: absolute;
  	top: 115px;
  	left: 134px;
  	width: 117px;
  	height: 107px;
}
.sitio-de-compra-wrapper7 {
  	position: absolute;
  	top: 673px;
  	left: 278px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 308px;
  	height: 88px;
  	overflow: hidden;
  	font-size: 32px;
}
.tnyhefal-ac-sx679-1-parent {
  	position: absolute;
  	top: 0px;
  	left: -28px;
  	width: 1729px;
  	height: 904px;
}
.group-wrapper6 {
  	position: absolute;
  	top: 11911px;
  	left: 59px;
  	background-color: #fff;
  	width: 1701px;
  	height: 890px;
  	overflow: hidden;
}
.bv1ms24082203epou5d-2-icon {
  	position: absolute;
  	top: 230.26px;
  	left: 976.16px;
  	width: 589px;
  	height: 584.9px;
  	object-fit: cover;
}
.group-child10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, rgba(165, 165, 165, 0.1) 69.71%, rgba(7, 7, 7, 0.96));
  	width: 1701px;
  	height: 984px;
  	opacity: 0.8;
}
.aoace-gaming-pc-container {
  	position: absolute;
  	top: 130.53px;
  	left: 272.37px;
  	display: inline-block;
  	width: 502px;
  	height: 285.2px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon12 {
  	position: absolute;
  	top: 86.35px;
  	left: 127.18px;
  	width: 112.3px;
  	height: 102.4px;
}
.sitio-de-compra-wrapper8 {
  	position: absolute;
  	top: 792.22px;
  	left: 239.52px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 336.9px;
  	height: 87.4px;
  	overflow: hidden;
  	font-size: 32px;
}
.bv1ms24082203epou5d-2-parent {
  	position: absolute;
  	top: 28px;
  	left: 0px;
  	width: 1701px;
  	height: 984px;
}
.group-wrapper7 {
  	position: absolute;
  	top: 12801px;
  	left: 59px;
  	background-color: #fff;
  	width: 1701px;
  	height: 977px;
  	overflow: hidden;
}
.icon1 {
  	position: absolute;
  	top: 369px;
  	left: 1056px;
  	width: 604px;
  	height: 570px;
  	object-fit: cover;
}
.group-child11 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1946px;
  	height: 1188px;
  	opacity: 0.8;
}
.blank-line51 {
  	line-height: 30px;
}
.blank-line50 {
  	margin: 0;
  	font-size: 24px;
}
.descubre-el-poder {
  	font-weight: 300;
}
.descubre-el-poder-de-la-xidax {
  	margin: 0;
  	font-size: 16px;
}
.xidax-x-2-series-container {
  	position: absolute;
  	top: 212px;
  	left: 290px;
  	display: inline-block;
  	width: 601px;
  	height: 360px;
  	text-shadow: 1px 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0), -1px 0 0 rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0);
}
.vector-icon13 {
  	position: absolute;
  	top: 143px;
  	left: 116px;
  	width: 118px;
  	height: 111px;
}
.sitio-de-compra11 {
  	position: absolute;
  	top: 30px;
  	left: 40px;
  	text-decoration: underline;
  	line-height: 50px;
  	font-weight: 800;
  	color: inherit;
}
.sitio-de-compra-wrapper9 {
  	position: absolute;
  	top: 935px;
  	left: 290px;
  	border-radius: 23px;
  	background: linear-gradient(90deg, #eb45a3, #a300d5);
  	width: 404px;
  	height: 110px;
  	overflow: hidden;
  	font-size: 40px;
}
.parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1946px;
  	height: 1188px;
}
.group-wrapper8 {
  	position: absolute;
  	top: 13778px;
  	left: 59px;
  	background-color: #fff;
  	width: 1790px;
  	height: 1129px;
  	overflow: hidden;
}
.group-parent {
  	width: 1926px;
  	position: relative;
  	height: 16372px;
}
.home-inner {
  	position: absolute;
  	top: 0px;
  	left: -62px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.home {
  	width: 100%;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: #a300d5;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	height: 16372px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: #000;
  	font-family: Poppins;
}

media (min-width: 600px) {
    header { flex-direction: row;
            justify-content: space-between;
            text-align: left;}
  
    header img { margin: 0;}
  }
  
@media (min-width: 992px) {
    main { display: flex;
          flex-direction: column;}
  
    .dual-column { display: flex;
                  gap: 20px;}
  
    .dual-column > section {flex: 1;}
  }